%h2
  Edit #{resource_name.to_s.humanize}
.row
  .span3
    %ul.nav.nav-list.navigation.affix
      %li
        = link_to "Change my username", "#user"
      %li
        = link_to "Change my password", "#password"
      %li
        = link_to "Change my location", "#map"
      %li
        = link_to "My biography", "#biography"
      %li
        = link_to "My abilities/skills", "#skills"
      %li
        = link_to "Manage blogs", "#blogs"
      %li
        = link_to "Social links", "#socials"
      %li
        = link_to "Cancel my account", "#cancel"
  .span9
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      .span8
        %section#user.well
          %div.page-header
            = "Change my username"
          %div
            = f.label :username
            = f.text_field :username
          %div
            = f.label :first_name
            = f.text_field :first_name
          %div
            = f.label :last_name
            = f.text_field :last_name
          %div
            = f.label :email
            = f.email_field :email
          %div
            =f.label :avatar
            =f.file_field :avatar
          .act_buttons
            = f.submit "Save", :class => 'btn btn-primary btn-warning', :id => 'username_sub'
            = link_to "Back", :back

        =# password
        %section#password.well
          %div.page-header
            = "Change my password"
          %div
            = f.label :password
            = f.password_field :password, :autocomplete => 'off'
            %i (leave blank if you don't want to change it)
            %br/
          %div
            = f.label :password_confirmation
            = f.password_field :password_confirmation
          %div
            = f.label :current_password
            = f.password_field :current_password
            %i (we need your current password to confirm your changes)
          .act_buttons
            = f.submit "Save", :class => 'btn btn-primary btn-warning', :id => 'password_sub'
            = link_to "Back", :back

        #user_id{"data-url" => resource.id}
        #user_lng{"data-url" => resource.longitude}
        #user_lat{"data-url" => resource.latitude}
        #user_zoom{"data-url" => resource.zoom}

        =#edit map
        %section#map.well
          %div.page-header
            = "Change my location"
          #new_user_map
            #edit_map
        %div
          = f.text_field :latitude, :style => "display: none;"
        %div
          = f.text_field :longitude, :style => "display: none;"
        %div
          = f.text_field :zoom, :style => "display: none;", :id => "new_zoom"
        %br

        =# biography
        %section#skills.well
          %div.page-header
            = "Skills"
          %div
            = f.label :tag_names, "Tags"
            = f.text_field :tag_names
          .act_buttons
            = f.submit "Save", :class => 'btn btn-primary btn-warning', :id => 'skills_sub'
            = link_to "Back", :back

        =# biography
        %section#biography.well
          %div.page-header
            = "Biography"
          %div
            = f.label :bio
            = f.text_area :bio
          .act_buttons
            = f.submit "Save", :class => 'btn btn-primary btn-warning', :id => 'biography_sub'
            = link_to "Back", :back

        =# blogs
        %section#blogs.well
          %div.page-header
            = "Manage my blogs"
          = simple_nested_form_for resource do |f|
            = f.fields_for :blogs
            %br/
            = f.link_to_add t("add_next"), :blogs, :class => 'btn btn-small btn-primary'
          .act_buttons
            = f.submit "Save", :class => 'btn btn-primary btn-warning', :id => 'blogs_sub'
            = link_to "Back", :back

        =# socials
        %section#socials.well
          %div.page-header
            = "Add social profiles"
          %div
            = f.label :gtalk
            = f.text_field :gtalk
          %div
            = f.label :skype
            = f.text_field :skype
          %div
            = f.label :jabber
            = f.text_field :jabber
          %br
          Services adress
          %br
          = simple_nested_form_for resource do |f|
            = f.fields_for :socials
            = f.link_to_add "Add service", :socials, :class => 'btn btn-small btn-primary'

          .act_buttons
            = f.submit "Save", :class => 'btn btn-primary btn-warning', :id => 'social_sub'
            = link_to "Back", :back

        =# cancel
        %section#cancel.well
          %div.page-header
            = "Cancel my account"
          %p
            Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
