%h2 Sign up
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %h4 1. Tell us who you are
  %div
    = f.label :username
    = f.text_field :username
  %div
    = f.label :first_name
    = f.text_field :first_name
  %div
    = f.label :last_name
    = f.text_field :last_name
  %div
    = f.label :email
    = f.email_field :email
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation

  %h4 2. Tell us where you live

  %div
    = f.label :country_id
    = f.select :country_id, Country.order('name ASC').map { |c| [c.printable_name, c.id] }, :prompt => true

  #new_user_map
    #map

  #country_info

  - content_for :scripts do
    :javascript
      //gain acces to country coordinates after select
      window.map;
      $('#user_country_id').change(function(){
        $.ajax({
          url: "/countries_selection",
          type: "GET",
          dataType: "json",
          data: "id=" + $('#user_country_id').val(),
          complete: function(){},
          success: function(data, textStatus, xhr) {
            $('#map').addClass('gmaps4rails_map');
            $('#map').addClass('map_container');
            //$("#country_info").html(data.country.lat, data.country.lng);
            var map_options = {
              zoom: 5,
              center: new google.maps.LatLng(data.country.lat, data.country.lng),
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map"), map_options);

            var markersArray = [];
            // On click, clear markers, place a new one, update coordinates in the form
            // map.callback = function() {
            //   google.maps.event.addListener(map, 'click', function(event) {
            //     clearOverlays();
            //     placeMarker(event.latLng);
            //     updateFormLocation(event.latLng);
            //   });
            // };
            // Update form attributes with given coordinates
            function updateFormLocation(latLng) {
                $('#user_latitude').val(latLng.lat());
                $('#user_longitude').val(latLng.lng());
                $('#user_zoom').val(map.getZoom());
            }
            // Add a marker with an open infowindow
              function placeMarker(latLng) {
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    draggable: true
                });
                markersArray.push(marker);
                // Set and open infowindow
                var infowindow = new google.maps.InfoWindow({
                    content: '<div class="popup"><h2>Awesome!</h2><p>Drag me and adjust the zoom level.</p>'
                });
                infowindow.open(map,marker);
                // Listen to drag & drop
                google.maps.event.addListener(marker, 'dragend', function() {
                    updateFormLocation(this.getPosition());
                });
            }
            // Removes the overlays from the map
            function clearOverlays() {
              if (markersArray) {
                for (var i = 0; i < markersArray.length; i++ ) {
                  markersArray[i].setMap(null);
                }
              }
              markersArray.length = 0;
            }
          google.maps.event.addListener(map, 'click', function(event) {
            clearOverlays();
            placeMarker(event.latLng);
            updateFormLocation(event.latLng);
          });
          }
        });
      });

  %div
    = f.text_field :latitude, :style => "display: none;"
  %div
    = f.text_field :longitude, :style => "display: none;"
  %div
    = f.text_field :zoom, :style => "display: none;"
  %br
  %h4 3. And a bit about you...
  %div
    = f.label :bio
    = f.text_area :bio
  %div
    = f.label :twitter
    = f.text_field :twitter
  %div
    = f.label :facebook
    = f.text_field :facebook
  %div
    = f.label :google_plus
    = f.text_field :google_plus
  %div
    = f.label :github
    = f.text_field :github
  %div
    = f.label :stackoverflow
    = f.text_field :stackoverflow

  %h4 4. Your privacy settings
  %p
    %p Search visibility
    =f.radio_button :search_visibility, true
    Allow search engines to index my profile page (recommended)
    %br/
    =f.radio_button :search_visibility, false
    Don't allow search engines to index my profile page
  %p 
    %p Email privacy
    =f.radio_button :email_privacy, 2 
    Anyone can see my email address
    %br/
    =f.radio_button :email_privacy, 1
    Only logged-in users can see my email address
    %br/
    =f.radio_button :email_privacy, 0
    Noone can ever see my email address
  %p
    %p IM privacy
    =f.radio_button :im_privacy, false
    Anyone can see my IM details
    %br/
    =f.radio_button :im_privacy, true
    Only logged-in users can see my IM details
  %h4 5. Your skills and interests
  %div
    = f.label :tag_names, "Tags"
    = f.text_field :tag_names
  %div
    = f.label :looking_for_work, "Looking for work?"
    = f.select :looking_for_work, {"Not looking for work at the moment" => 0, "Looking for freelance work" => 1, "Looking for fuil-time work" => 2}
  %div= f.submit "Sign me up"
= render :partial => "devise/shared/links"
