%h2 Sign up
= nested_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  .row-fluid#general
    .span3
    .span6.well
      %h4 1. Tell us who you are
      .content
        .span6
          %div
            = f.label :username
            = f.text_field :username
          %div
            = f.label :first_name
            = f.text_field :first_name
          %div
            = f.label :last_name
            = f.text_field :last_name
        .span5
          %div
            = f.label :email
            = f.email_field :email
          %div
            = f.label :password
            = f.password_field :password
          %div
            = f.label :password_confirmation
            = f.password_field :password_confirmation
    .span3

  .row-fluid#location
    .span3
    .span6.well
      %h4 2. Tell us where you live
      .content
        %div
          = f.label :country_id
          = f.select :country_id, Country.order('name ASC').map { |c| [c.printable_name, c.id] }, :prompt => true

        #new_user_map
          #registration_map

        #country_info

        %div
          = f.text_field :latitude, :style => "display: none;"
        %div
          = f.text_field :longitude, :style => "display: none;"
        %div
          = f.text_field :zoom, :style => "display: none;"
        %br
    .span3

  .row-fluid
    .span3
    .span6
      = f.submit "Sign me up"
    .span3
= render :partial => "devise/shared/links"
