%h1= @user.to_s
= image_tag("famfamfam_flags/#{@user.country.iso.downcase}.png")
= @user.country.printable_name
%p= gmaps4rails(@json)

%br/
%br/
.span6
  - if @user.bio.present?
    %p.bio
      = @user.bio
      - if @user.tags.present?
        %br/
        - @user.tags.each do |tag|
          =link_to tag.name, tag_path(:tag => tag.name), :class => 'btn btn-info btn-small btn-tags'
  %h3
    Finding Jarek
  - if @user.blogs.any?
    %p
      Blog:
  - if @user.twitter.present?
    %p
      Twitter:
      = @user.twitter
  - if @user.facebook.present?
    %p
      Facebook:
      = @user.facebook
  - if @user.google_plus.present?
    %p
      Google+:
      = @user.google_plus
  - if @user.github.present?
    %p
      Github:
      = @user.github
  - if @user.stackoverflow.present?
    %p
      Stackoverflow:
      = @user.stackoverflow
.offset6
  %p
    People near #{@user.first_name}:
    %br/
    - @near.each do |n|
      %p
        =link_to n.to_s, user_path(n)
        %br/
        = image_tag("famfamfam_flags/#{n.country.iso.downcase}.png")
        = n.country.printable_name
        %br/
        = pluralize n.distance_from([resource.latitude, resource.longitude]).round(1), "mile"
        away











