- unless current_user == @user
  = render 'users/profile'
- if @user.avatar?
  = image_tag @user.avatar.url(:medium), :class => 'img-circle'
- else
  = image_tag avatar_url(@user), :class => 'img-circle'
%span.profile-username= @user.to_s
%br
- if @user.country.present?
  = image_tag("famfamfam_flags/#{@user.country.iso.downcase}.png")
  = @user.country.printable_name
/ %p= gmaps({"map_options" => {"auto_adjust" => false, "zoom" => @user.zoom, "center_latitude" => @user.latitude, "center_longitude" => @user.longitude}, "markers" => {"data" => @json }})
#user_id{"data-url" => @user.id}
#user_lng{"data-url" => @user.longitude}
#user_lat{"data-url" => @user.latitude}
#user_zoom{"data-url" => @user.zoom}
#near_users{"data-url" => @near_cords}

#new_user_map
  #user_map

%br
%br
.span6
  - if @user.bio.present?
    .bio
      %p= @user.bio
  - if @user.tags.present?
    - @user.tags.each do |tag|
      =link_to tag.name, tag_path(:tag => tag.name), :class => 'btn btn-info btn-small btn-tags'
    .clear
  - if @user.looking_for_freelance_work?
    .work
    %i.icon-star-empty
    %span Looking for freelance work
  - elsif @user.looking_for_full_time_work?
    .work
    %i.icon-star
    %span Looking for full-time work
  - if email_is_visible?(@user)
    %br
    %i.icon-envelope
    %strong Email:
    = mail_to(@user.email)
  - if im_details_visible?(@user)
    %h3 Finding #{@user.first_name}:
    - if @user.blogs.any?
      %p
        Blogs:
        %ul
        - @user.blogs.each do |blog|
          %li
            = link_to "#{blog.title}", blog.url
    .span12#profiles
      - if @user.gtalk.present?
        .row-fluid
          = image_tag 'gtalk.png', :size => "40x40"
          = @user.gtalk
      - if @user.skype.present?
        .row-fluid
          = image_tag 'skype.png', :size => "40x40"
          = @user.skype
      - if @user.jabber.present?
        .row-fluid
          = image_tag 'jabber.png', :size => "40x40"
          = @user.jabber
      - if @user.facebook.present?
        .row-fluid
          = image_tag 'facebook.png', :size => "40x40"
          = link_to @user.facebook, @user.profile_url(:facebook)
      - if @user.github.present?
        .row-fluid
          = image_tag 'github.png', :size => "40x40"
          = link_to @user.github, @user.profile_url(:github)
      - if @user.twitter.present?
        .row-fluid
          = image_tag 'twitter.png', :size => "40x40"
          = link_to @user.twitter, @user.profile_url(:twitter)
    .clear
    %br
    - if @user.socials.any?
      - @user.socials.in_groups(2, false).each do |group_social|
        - group_social.each do |social|
          .span4
            - if find_asset("#{social.title}.png")
              = image_tag("#{social.title}.png", :size => "40x40")
            - else
              = image_tag("question.png", :size => "40x40")
            = link_to "#{social.title}", social.url
        .clear

.span6
  - if @user.github.present?
    %h3 Github repos:
    #github_repos{"data-login" => @user.github}
    %br

#near_people.offset6
  %h3 People near #{@user.first_name}:
  - @near.each do |n|
    %p
      =link_to n.username, user_path(n)
      %br
      = image_tag("famfamfam_flags/#{n.country.iso.downcase}.png")
      = n.country.printable_name
      %br
      = pluralize n.distance_from([resource.latitude, resource.longitude]).round(1), "mile"
      away