= image_tag @user.avatar.url(:medium), :class => 'img-circle' if @user.avatar?
%span.profile-username= @user.to_s
%br
= image_tag("famfamfam_flags/#{@user.country.iso.downcase}.png")
= @user.country.printable_name
/ %p= gmaps({"map_options" => {"auto_adjust" => false, "zoom" => @user.zoom, "center_latitude" => @user.latitude, "center_longitude" => @user.longitude}, "markers" => {"data" => @json }})
#user_id{"data-url" => @user.id}
#user_lng{"data-url" => @user.longitude}
#user_lat{"data-url" => @user.latitude}
#user_zoom{"data-url" => @user.zoom}
#near_users{"data-url" => @near_cords}

#new_user_map
  #user_map

%br
%br
.span6
  - if @user.bio.present?
    .bio
      %p= @user.bio
      - if @user.tags.present?
        - @user.tags.each do |tag|
          =link_to tag.name, tag_path(:tag => tag.name), :class => 'btn btn-info btn-small btn-tags'
      .clear
      - if @user.looking_for_freelance_work?
        .work 
        %i.icon-star-empty
        %span Looking for freelance work 
      - elsif @user.looking_for_full_time_work?
        .work 
        %i.icon-star
        %span Looking for full-time work
  %br
  - if email_is_visible?(@user)
    %i.icon-envelope
    %strong Email:
    %p= @user.email
  - if im_details_visible?(@user)
    %h3 Finding #{@user.first_name}
    - if @user.blogs.any?
      %p 
        Blog:
        - @user.blogs.each do |blog|
          = link_to "#{blog.url}", blog.url
    .span8
      .span4
        - if @user.gtalk.present?
          %p
            = image_tag 'gtalk.png', :size => "40x40"
            = @user.gtalk
        - if @user.skype.present?
          %p
            = image_tag 'skype.png', :size => "40x40"
            = @user.skype
        - if @user.jabber.present?
          %p
            = image_tag 'jabber.png', :size => "40x40"
            = @user.jabber
      .span4
        - if @user.socials.any?
          - @user.socials.each do |social|
            - if FileTest.exist?(image_path("#{social.title}.png"))
              = image_tag("#{social.title}.png", :size => "40x40")
            - else
              = image_tag("question.png", :size => "40x40")
            = link_to "#{social.title}", social.url

#near_people.offset6
  %h3 People near #{@user.first_name}:
  - @near.each do |n|
    %p
      =link_to n.to_s, user_path(n)
      %br
      = image_tag("famfamfam_flags/#{n.country.iso.downcase}.png")
      = n.country.printable_name
      %br
      = pluralize n.distance_from([resource.latitude, resource.longitude]).round(1), "mile"
      away