%h1= @user.to_s
= image_tag("famfamfam_flags/#{@user.country.iso.downcase}.png")
= @user.country.printable_name
%p= gmaps({"map_options" => {"auto_adjust" => false, "zoom" => @user.zoom, "center_latitude" => @user.latitude, "center_longitude" => @user.longitude}, "markers" => {"data" => @json }})

%br/
%br/
.span6
  - if @user.bio.present?
    .bio
      = @user.bio
      - if @user.tags.present?
        %br/
        - @user.tags.each do |tag|
          =link_to tag.name, tag_path(:tag => tag.name), :class => 'btn btn-info btn-small btn-tags'
  %h3
    Finding
      - if @user.looking_for_freelance_work?
        .work Looking for freelance work
      - elsif @user.looking_for_full_time_work?
        .work Looking for full-time work
  
  %h3 Finding #{@user.first_name}
  - if email_is_visible?
    %strong Email:
    %p= @user.email
  - if @user.blogs.any?
    %p Blog:
  - if @user.twitter.present?
    %p Twitter:
    %p= @user.twitter
  - if @user.facebook.present?
    %p Facebook:
    %p= @user.facebook
  - if @user.google_plus.present?
    %p Google+:
    %p= @user.google_plus
  - if @user.github.present?
    %p Github:
    %p= @user.github
  - if @user.stackoverflow.present?
    %p Stackoverflow:
    %p= @user.stackoverflow
.offset6
  %p
    People near #{@user.first_name}:
    %br/
    - @near.each do |n|
      %p
        =link_to n.to_s, user_path(n)
        %br/
        = image_tag("famfamfam_flags/#{n.country.iso.downcase}.png")
        = n.country.printable_name
        %br/
        = pluralize n.distance_from([resource.latitude, resource.longitude]).round(1), "mile"
        away











