- if params[:selected]
  %h1= params[:selected]
  = @people_count
  people
- else   
  %h1= 'Rails People'
  Discover users of the 
  =link_to "Ruby on Rails Web", "http://rubyonrails.org/", :target => "_blank"
  framework near you

= gmaps4rails(@json)

- if params[:selected]
  %br/
  = will_paginate @people
  - @people.each do |person|
    .row.span4
      = link_to person.email, user_path(person)
      %br
      = person.country.printable_name
- else
  %br/
  - @countries.each do |country|
    .row.span4
      = link_to country.printable_name, home_index_path(:selected => country.printable_name)
      = pluralize country.users.size, 'person'
